.chores {
    color: #ff4f33;
}

.workHarder {
    text-align: center;
    color: green;
}

.doneChores {
    color: #3c79b8;
}

.reward {
    text-align: center;
}

.iceCream {
    text-align: center;
    color: forestgreen;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}